<!DOCTYPE html>
<html lang="en">
<head> 
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/calendar.css" />
<link href="css/nonzeroday.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Non Zero Day</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47004170-1', 'nonzeroday.herokuapp.com');
  ga('send', 'pageview');

</script>
</head>
<body >
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header"> 
			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/">Non Zero Day</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-collapse">
		    <ul class="nav navbar-nav">
		      <li><a href="/about">About</a></li>
		    </ul>
 		</div>
	</nav>

	<div class="container">
		<h3> How to follow Non Zero Day  </h3>
		  <ol>
	        <li>No More Zero Days
	        	<ul>
	        		<li>Promise yourself that you will do one thing every day that takes you one step closer to your goal(s)</li>
	        	</ul>
	        </li>
	        <li>Be Grateful to the Three "You"s
	        	<ul> 
					<li>Past Self: Thank your past self for the favours they did for you</li>
					<li>Present Self: Do your future self a favour - they deserve it!</li>
					<li>Future Self: Your absolute best friend, and a great person.</li>
				</ul>
	        </li>
	        <li>Forgive Yourself
	        	<ul>
	        		<li>It's okay to mess up. Forgive your past self, and be a better friend for your future self.</li>
	        	</ul>
	        </li>
	        </li>
	        <li>Exercise and Books
	        	<ul>
	        		<li>Get your heart rate up and try to read when you can. Also the easiest way to avoid a Zero Day! </li>
	        	</ul>
	        </li>
	      </ol>
	</div>
</body>

<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</html>