<!DOCTYPE html>
<html lang="en">
<head> 
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

<link href="css/nonzeroday.css" rel="stylesheet">
</head>
<body class="container">
	<div id="goalContainer"> </div>
		<h3> Goals </h3>
		<div id="createdGoalsContainer">
		</div>
		<form class="form-inline" role="form">
		  <div class="form-group">
		  		<label class="sr-only" for="newGoal"> New Goal </label>
		      	<input type="text" class="form-control" id="newGoal" placeholder="New Goal">
		      	
		  </div>
		  <button type="button" class="btn btn-primary" id="addBtn">
					<span class="glyphicon glyphicon-plus"></span> Add
			   	</button>
 		 </form>
</form>
</body>

<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/nonzeroday.js"></script>

</html>