.goal{
	font-size: 30px;
	cursor: pointer;

}
.goalCheck{
	height: 40px;
	width: 20px;
	margin-right: 10px !important;
	float: left;
	cursor: pointer;
}

.goalNote{
	width:90%;
	float: right;
	margin-bottom: 10px;
}

#addForm{
	margin-top: 10px;
	padding-bottom: 100px
}

#addBtn{
	float: right;
}

.btn-rm, .btn-rm:hover, .btn-rm:focus, .btn-rm:active{
	background-color: #ffffff;
	border-color: #ffffff;
}

.navbar{
	margin-bottom: 0px;
}

.glyphicon-rm{
	color: #d9534f;
}

.custom-year{
	margin-top: 10px
}

.goalColorPick{
	float: left;
	height: 30px;
	width: 30px;
	margin-right: 5px;
	margin-top: 5px;
}

#settings{
	margin-right: 15px;
}